form{
    margin: 0 auto;
    width: 75%; /* Valor da Largura */ 
    -webkit-box-shadow: 0px 0px 8px 2px #000000;
    -moz-box-shadow: 0px 0px 8px 2px #000000;
    box-shadow: 0px 0px 8px 2px #000000;
    text-align: center;
    vertical-align:middle;
    background-color: white;
}

body {
    background-color: aquamarine;
}

h1{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

#imgFeliz{
    width: 262px;
}

.btnForm {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
    width: 115px;
}
.btnForm:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.btnForm:active {
	position:relative;
	top:1px;
}

input[type=text]{
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    border-radius:6px;
    padding:4px 24px;
}